body {
    font-family: Montserrat;
}
header{
    background-color: #00A099;
}
header h1{
    text-align: center;
}
section {
    text-align: center;
}

.titulo {
    color: var(--Morado, #434495);
    text-align: center;
    font-family: Montserrat;
    font-size: 3rem;
    font-style: normal;
    font-weight: 700;
    line-height: 4rem; /* 133.333% */
}

.contenedor-botones {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.link-volver {
    margin-right: 10px;
}

.boton-generar {
    color: #FFF;
    cursor: pointer;
    text-align: center;
    font-family: Montserrat;
    font-size: 1.25rem;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    width: 25rem;
    height: 3.125rem;
    flex-shrink: 0;    
    border-radius: 0.625rem;
    border: none;
    background: #434495; 
    transition: 0.5s;   
}
.boton-generar:hover {
    background: #8a95fc;
    color: black;  
}

/* Estilos para el popup */

/* Estilos para los botones (tarjetas) */
.tarjeta {
    border: none;
    padding: 10px;
    margin: 5px;
    width: 10vw;
    height: 30vh;
    flex-shrink: 0;
    cursor: pointer;
    transition: 0.5s;
    border-radius: 1.25rem;
    box-shadow: inset;
}
.tarjeta:hover{
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24),0 17px 50px 0 rgba(0,0,0,0.19);
}
.tarjeta.selected {
    background-color: #434495;
    color: #fff;
}

/* Estilos para el botón de cierre */
.boton-cerrar {
    color: #FFF;
    text-align: center;
    font-family: Montserrat;
    font-size: 100%;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    width: 18   vw;
    height: 3.125rem;
    flex-shrink: 0;
    padding: 10px;
    display: block;
    margin: 0 auto; 
    margin-top: 20px;
    border-radius: 0.625rem;
    background: #434495;
    border: none;
    transition: 0.5s; 
}
.boton-cerrar:hover{
    background: #8a95fc;
    color: black;
}

/* Estilos para el fondo oscuro del popup */
.popup {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.7);
    z-index: 1;
}

.popup-contenido {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: #fff;
    padding: 20px;
    border-radius: 5px;
    text-align: center;
}
.popup-contenido p{
    color: var(--Morado, #434495);
    text-align: center;
    font-family: Montserrat;
    font-size: 100%;
    font-style: normal;
    font-weight: 700;
    line-height: 4rem; /* 213.333% */
}








.contador-menu {
    display: flex;
    align-items: center;
}

.icono-informacion {
    font-size: 24px;
    margin-right: 5px; 
}

.texto-contador {
    font-size: 18px;
}

#contador {
    font-weight: bold;
}

/* Estilos para los filtros */
.seccion-filtros {
    margin-top: 20px;
    display: flex;
}

.filtro {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

select {
    font-size: 16px;
    margin-right: 20px; 
}

/*Estilos para la tabla*/

table {
    border-collapse: collapse;
    width: 100%;
    margin-top: 20px;
    background-color: #BBBCFF;
  }

  th{
    background-color: white;
    overflow: hidden;
    text-align: center;
    text-overflow: ellipsis;
    white-space: nowrap;
    font-size: 1.125rem;
    font-style: normal;
    font-weight: 700;
    line-height: 1.125rem; /* 100% */
  }
  td, th {
    text-align: center;
    padding: 8px;
    color: #434495;
  }
  tr:nth-child(even) {
    background-color: #DBDBFF;
  }
.button-column{
    display: flex;
    justify-content: center;
    text-align: center;
}
.button-ver{
    display: flex;
    padding: 0.6875rem 1rem;
    justify-content: center;
    align-items: center;
    gap: 0.625rem;
    border-radius: 1rem;
    border: 2px solid #434495;
    background-color: transparent;
    color: #434495;
    font-family: Montserrat;
    font-size: 0.875rem;
    font-style: normal;
    font-weight: 700;
    line-height: 1.125rem; /* 128.571% */
  }
  .button-ver span{
    display: flex;
    align-items: center;
  }







footer{
    text-align: center;
    background-color: #00A099;
}


